[submodule "3rdparty/libssh"]
	path = 3rdparty/libssh
	url = https://git.libssh.org/projects/libssh.git
[submodule "3rdparty/libvterm"]
	path = 3rdparty/libvterm
	url = https://github.com/neovim/libvterm.git
