[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=longterm
Exec=/usr/bin/sailjail -p longterm.desktop /usr/bin/longterm
Name=Longterm

[X-Sailjail]
OrganizationName=rs.r8
ApplicationName=longterm
Permissions=Internet;Secrets
